// ZMK Core

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "includes/base.dtsi"
#include "includes/settings.dtsi"
#include "includes/combos_corne.dtsi"
#include "includes/macros.dtsi"
#include "includes/mouse.dtsi"
#include "includes/behaviors_extra.dtsi"
#include "includes/conditional_layers.dtsi"
#include "includes/settings_pd.dtsi"

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    keymap {
        compatible = "zmk,keymap";

        default {
            display-name = "BASE";
            bindings = <
  &kp Q  &kp W  &kp E    &kp R    &kp T      &kp Y    &kp U    &kp I            &kp O          &kp P
  &kp A  &kp S  &kp D    &kp F    &kp G      &kp H    &kp J    &kp K            &kp L          &semi_apos
  &kp Z  &kp X  &kp C    &kp V    &kp B      &kp N    &kp M    &hmr RALT COMMA  &hmr RGUI DOT  &hmr LCTRL FSLH
                &lt 5 A  &lt 3 A  &lt 1 A    &lt 2 A  &lt 4 A  &lt 6 A
            >;
        };

        layer_1 {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        num {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans
  &trans  &trans  &trans  &trans  &trans    &trans        &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans
  &trans  &trans  &trans  &trans  &trans    &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans
                  &trans  &trans  &trans    &trans        &trans        &trans
            >;
        };

        layer_4 {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
